Repository ddbas/remindd-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: build before publishing
  package.json
Due: prettier --write

build: clean output folder as part of prepublish step
  package.json
Due: prettier --write

chore: generate CHANGELOG when bumping version
  package.json
Due: prettier --write

chore: change the release commit message
  .npmrc
Due: none

chore: install missing conventional-changelog-cli dependency
  package-lock.json
  package.json
Due: prettier --write

chore: add a release script
  release.sh
Due: none

chore: add a release script (#1)
  release.sh
Due: none

fix: validate that there is a reminder title
  src/parser.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.1 :tada:
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json}
  eslint --fix: any of: *.ts
